:root{
    --backgroundcolor: #252525;
    --backgroundcolordesktop: #25252589;
    --textcolor: white;
    --linkcolor: #b1b1b1;
    --menubgcolor: #118b82;
}

body{    
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    text-align: center; 
    font-family: 'Josefin Sans';
    overflow-anchor: none;
    padding-bottom: 100px;
    margin: 0;
}

nav {
    display: block;
}

/*#menu { MENU BASSO
    width: 100%;
    margin-left: 0%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0%;
    z-index: 2;
    height: 50px;
    background-color: var(--menubgcolor);
}

#menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12px;
}

#menu li {
    flex: 1 0 50px;
}

#menu a {
    box-sizing: border-box;
    padding: 20px;
}*/

#hamburger {
    top: 5px;
    position: fixed;
    left: 5px;
    z-index: 4;
    background-color: var(--menubgcolor);
}

ul{
    list-style-type: none;
    display: inline;
    line-height: 1.5em;
    margin-top: 0em;
    padding: 0;
}

/*dt{
    margin-right: 1em;
    float: left;
    width: 50%;    
    text-align: center;
    margin: auto;
    line-height: 1.5em;
}

dd{
    text-align: center;
    margin: auto;
    line-height: 1.5em;
}*/

a{
    color: var(--linkcolor);
}

#eventi>li{
    padding: 1.5em 0em;
    border-bottom: 1px solid white;
    width: 70%;
    margin: auto;
}

main img{
    width: 200px;
    height: 200px;
    text-align: center;
}

div img {
    border: white 1px solid;
    padding: 1px;
}

/*link social*/
#linksocial img{
    width: 100px;
    height: 100px;
    margin-top: 2em;
    border: none;
}

#sticky {
    background-image: url("/img/logo.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -999em;
    line-height: 15em;
    font-size: 8em;
    margin-bottom: 0;
    width: 100%;
    height: 2em;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0.7em;
    transition-duration: 0.5s;
    transition-property: height;
    position: sticky;
    top: 0;
    z-index: 2;    
}

#bgheader {
    background-image: url("/img/back1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size:110%;
    text-indent: -999em;
    line-height: 11em;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.2s ease-in;
    mask-image: linear-gradient(to top, rgba(37, 37, 37,0), rgba(37, 37, 37,0.8));
}

#h2title {
    /*padding-top: 2em;*/
    font-size: 2em;
    margin-top: 0;
}

/*logo on top quando faccio scroll*/
/*.fixedTop {
/*    /*animazione*/
/*    transition-property: width;
/*    transition: 300ms;
/*    transition-timing-function: ease-out;
/*    /**/
/*    width: 100%;
/*    font-size: 3em;
/*    line-height: 1em;
/*    
/*    top: 0;
/*    margin-top: 0;
/*    background-color: #252525;
/*    z-index: 1;
/*}*/

footer{
    padding: 5em;
    text-align: center;
    padding-bottom: 0;
}


/*DESKTOP*/
@media screen and (min-width: 992px) {
    
    main{
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;        
    }

    #menu {
        right: 0;
        top: 0;        
        text-align: center;
        position: fixed;
        margin: auto;
        padding-right: 5%;
        z-index: 2;
        height: 80px; 
        padding-top: 3em;
    }
    
    #menu ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:stretch;
    }
    
    #menu a {
        box-sizing: border-box;
        padding: 20px;
        font-size: 1.5em;
    }

    #sticky{
        background-image: url("/img/logo.webp");
        background-repeat: no-repeat;
        background-position: 5% 0%;
        background-size: contain;
        text-indent: -999em;
        line-height: 5em;
        font-size: 4em;
        width: 100%;
        height: 2em;
        margin: auto;
        margin-bottom: 1em;       
        position: sticky;
        top: 0;
        background-color: var(--backgroundcolor);
        z-index: 2;
    }

    #bgheader{
        background-image: url("/img/back1.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size:100%;
        text-indent: -999em;
        line-height: 55em;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        mask-image: linear-gradient(to top, rgba(37, 37, 37, 0), rgba(37, 37, 37, 0.21));
    }

    #linksocial{
        display: inline-flex;        
        flex-flow: row;
        flex-wrap: wrap;
        flex-basis: content;
        text-align: center;
        justify-content: space-between;
        width: 70%;
    }
    
  }

